@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tailwind</title>
    @Styles.Render("~/Content/tailwind")

</head>
<body>

@Html.Partial("TailwindSample")

</body>
</html>